<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: Henggao
 * @Date: 2020-03-19 17:04:06
 * @LastEditors: Henggao
 * @LastEditTime: 2020-04-22 19:15:56
 -->
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
        Hello,{{user.username}}.
        <a href="{url 'users:logout' %}">log out</a>
    {% else %}
    <a href="{% url 'users:login' %}" login in></a>
    {% endif %}
</p>
{% block content %}{% endblock content %}