<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: Henggao
 * @Date: 2020-03-19 18:22:45
 * @LastEditors: Henggao
 * @LastEditTime: 2020-03-19 18:29:26
 -->
{% extends "learning_logs/base.html" %}

{% block content %}

 <p>Topic: {{ topic}}</p>

 <p>Entries:</p>
 <ul>
     {%for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i'}}</p>
            <p>{{ entry.text|linebreaks }}</p>
        </li>
    {% empty %}
        <li>
            There are no entries for this topic yet.
        </li>
    {% endfor %}
 </ul>

{% endblock content %}